In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
dfpib1 = pd.read_excel("datasets/PIB dos Municípios - base de dados 2002-2009.xls")
dfpib2 = pd.read_excel('datasets/PIB dos Municípios - base de dados 2010-2017.xls')

In [10]:
dfhomi = pd.read_csv('datasets/homicidios.csv', sep=';')

In [11]:
dfpib1[dfpib1['Código do Município']==2611606]
dfhomi.head()

       cod                nome  período     valor
0  1500131     Abel Figueiredo     1996  0.000000
1  1500206               Acará     1996  0.000000
2  1500305                Afuá     1996  4.052849
3  1500347  Água Azul do Norte     1996  9.526531
4  1500404            Alenquer     1996  7.779226

In [82]:
poplst = ['POP2016.xlsx','POP2015.xls','POP2014.xlsx', 'POP2013.xls', 'POP2012.xls','POP2011.xls','POP2009.xls',
          'POP2008.xls','POP2006.xls','POP2005.xls','POP2004.xls','POP2003.xls','POP2002.xls']
xls = pd.ExcelFile('datasets/pop/POP2016.xlsx')
df2016 = pd.read_excel(xls, 'Municípios', header =2)
df2016 = df2016[:5570]
df2016['ANO'] = 2016
xls = pd.ExcelFile('datasets/pop/POP2015.xls')
df2015 = pd.read_excel(xls, 'Municípios', header =2)
df2015 = df2015[:5570]
df2015['ANO'] = 2015
xls = pd.ExcelFile('datasets/pop/POP2014.XLS')
df2014 = pd.read_excel(xls, 'Municípios', header =2)
df2014 = df2014[:5570]
df2014['ANO'] =  2014
xls = pd.ExcelFile('datasets/pop/POP2013.xls')
df2013 = pd.read_excel(xls, 'Municípios', header =1)
df2013 = df2013[:5568]
df2013['ANO'] =  2013
xls = pd.ExcelFile('datasets/pop/POP2012.xls')
df2012 = pd.read_excel(xls, 'TAB_DOU_Municípios (internet)', header =2)
df2012 = df2012[:5565]
df2012['ANO'] =  2012
xls = pd.ExcelFile('datasets/pop/POP2011.xls')
df2011 = pd.read_excel(xls, 'MUNICÍPIOS', header =2)
df2011 = df2011[0:5565]
df2011['ANO'] =  2011
xls = pd.ExcelFile('datasets/pop/POP2009.xls')
df2009 = pd.read_excel(xls, 'MUNICÍPIOS', header =4)
df2009 = df2009[0:5565]
df2009['ANO'] =  2009
xls = pd.ExcelFile('datasets/pop/POP2008.xls')
df2008 = pd.read_excel(xls, 'POP08DOU', header =4)
df2008 = df2008[0:5565]
df2008['ANO'] =  2008
xls = pd.ExcelFile('datasets/pop/POP2006.xls')
df2006 = pd.read_excel(xls, 'P5564TCU', header =4)
df2006 = df2008[0:5565]
df2006['ANO'] =  2006
xls = pd.ExcelFile('datasets/pop/POP2006.xls')
df2006 = pd.read_excel(xls, 'P5564TCU', header =4,dtype={'MUNIC': str})
df2006 = df2006[0:5564]
df2006['ANO'] =  2006
#names=['SIGLA', 'CODIGOESTADO', 'CODIGO MUN', 'NOME', 'POP']


#df2 = pd.read_excel(xls, 'Sheet2')

In [85]:
df2006['MUNIC']

0          1
1         37
2         40
3         34
4          2
        ...
5559    2200
5560    2205
5561    2220
5562    2230
5563      10
Name: MUNIC, Length: 5564, dtype: object